Analysis of Sales Data

In [4]:
#importing all our libraries
import pandas as pd
import numpy as np
import seaborn as sns
import plotly.express as exp
import plotly.graph_objects as go
pd.set_option("display.max_columns", None)
pd.set_option('display.max_rows', 20)

import os

In [5]:
# accessing the directory with all the files of sales data for every month
# and printing the file names
files = [file for file in os.listdir('C:\\GIT\\Analysis-of-Sales\\Data')]
for file in files:
    print(file)

all_data.csv
Sales_April_2019.csv
Sales_August_2019.csv
Sales_December_2019.csv
Sales_February_2019.csv
Sales_January_2019.csv
Sales_July_2019.csv
Sales_June_2019.csv
Sales_March_2019.csv
Sales_May_2019.csv
Sales_November_2019.csv
Sales_October_2019.csv
Sales_September_2019.csv

In [6]:
# we need to combine all the data files into one dataframe and write it to one csv file
df = pd.DataFrame()

for file in files:
    current_df = pd.read_csv('C:\\GIT\\Analysis-of-Sales\\Data\\' + file)
    df = pd.concat([df, current_df])

df.to_csv('C:\\GIT\\Analysis-of-Sales\\Data\\all_data.csv', index=False)

In [7]:
all_data = pd.read_csv('C:\\GIT\\Analysis-of-Sales\\Data\\all_data.csv')

In [8]:
all_data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,176559,Bose SoundSport Headphones,1,99.99,04/07/2019 22:30,"682 Chestnut St, Boston, MA 02215"
2,176560,Google Phone,1,600,04/12/2019 14:38,"669 Spruce St, Los Angeles, CA 90001"
3,176560,Wired Headphones,1,11.99,04/12/2019 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001"

In [9]:
all_data['Order Date'].dtype

dtype('O')

Cleaning the data

In [12]:
all_data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,176559,Bose SoundSport Headphones,1,99.99,04/07/2019 22:30,"682 Chestnut St, Boston, MA 02215"
2,176560,Google Phone,1,600,04/12/2019 14:38,"669 Spruce St, Los Angeles, CA 90001"
3,176560,Wired Headphones,1,11.99,04/12/2019 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001"

In [13]:
all_data.isnull().sum()

Order ID            1632
Product             1632
Quantity Ordered    1632
Price Each          1632
Order Date          1632
Purchase Address    1632
dtype: int64

In [14]:
all_data.dropna(how='all', inplace=True)

In [15]:
all_data.isnull().sum()

Order ID            0
Product             0
Quantity Ordered    0
Price Each          0
Order Date          0
Purchase Address    0
dtype: int64